html, body {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --logo-color: #0A3641;
    --main-color: #225C6A; 
    --secondary-color: #488595;
    --tertiary-color: #7CB2BF;
    --navigation-color: #BFE1EA;
    --PayPal-Yellow: #FFC43A;
    --container-gray: #D9D9D9;
    --text-color: black;
}

body {
    font-family: Open-Sans, sans-serif;
    font-size: 0.8em;
    color: #333;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    padding: 5px;
    width: 100%;
}



label::before {
    font-family: "Material Icons";
    content: "menu";
    color: var(--logo-color);
    font-size: 1em;
}

h1 {
    font-family: Oswald, sans-serif;
    font-weight: lighter;
    font-size: 4vw;
    line-height: 5px;
}

h2 {
    font-family: Oswald, sans-serif;
    font-weight: lighter;
    font-size: 3.8vw;
    line-height: 5px;
    font-weight: lighter;
}

h3 {
    font-family: Oswald, sans-serif;
    font-size: 1.5rem;
    line-height: 5px;
    font-weight: lighter;
    color: var(--text-color);
}

a {
    color: var(--logo-color);
    text-decoration: none;
}

.ctalarge {
    color: var(--logo-color);
    display: inline-block;
    padding: 15px 5px;
    width: 30vw;
    justify-content: center;
    border-radius: 15px;
    background: var(--navigation-color);
    border: 6px solid var(--logo-color);
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

.ctasmall-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.ctasmall {
    color: var(--logo-color);
    padding: 10px 10px;
    border-radius: 15px;
    margin-right: 50px;
    text-align: center;
    max-width: fit-content;
    background: var(--navigation-color);
    border: 3px solid var(--logo-color);
    text-decoration: none;
    font-weight: bold;
}

.ctasmall-wide {
    width: 30%;
    color: var(--logo-color);
    padding: 10px 10px;
    border-radius: 15px;
    text-align: center;
    background: var(--logo-color);
    border: 3px solid var(--navigation-color);
    text-decoration: none;
    font-weight: bold;
}

.ctasmall-wide a {
    color: var(--navigation-color);
    text-decoration: none;
}

header {
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--navigation-color);
    z-index: 2;
}

.headernav {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}

.headernav ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

.headernav ul li {
    display: inline-block;
}

.headernav ul li a {
    color: var(--logo-color);
    text-decoration: none;
}


.navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 5px;
}

.navicons {
    display: flex;
    flex-wrap: nowrap;
}

.navmountain {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
}

.navicons li a {
    color: #fff;
    text-decoration: none;
    margin: 5px;
}

.headerlogo { 
        max-width: 120px;
        max-height: 60px;
        margin-bottom: 10px;
    }

.headermountain {
    max-width: 120px;
    max-height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.landingpageshopping {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.shopping {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.productimg img {
    width: 100%;
    padding: 5px;
    height: auto;
}

.gender {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    height: 100%;
    padding: 15px;
}

.gender-text h3 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.gender-text {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.gender-man {
    background: url("/img/man.jpg") no-repeat center center/cover;
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    height: 100%; 
    margin-left: 15px;
    border-radius: 5px;
}

.gender-woman {
    background: url(/img/woman.jpg) no-repeat center center/cover;
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    height: 100%; 
    margin-left: 15px;
    border-radius: 5px;
}

.manimg, .womanimg {
    width: 50%;
    height: auto;
    margin: 0;
    padding: 15px;
    border-radius: 5px;
}

.topseller-card {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}



.splitcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
}

.splitleft, .splitright {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    padding: 10px;

}

.confirmationleft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 200%;
    margin: 10px;
    padding: 10px;

}



.rating {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.6rem;
    font-weight: lighter;
}



.product-rating-stars {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px;
}

.product-rating-number {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    margin-right: 50px;
}

.productsplitright {
    display: block;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.suggestion-card {
    width: 100%;
    display: flex;
    flex-direction: row;

}


.article-no {
    font-size: 0.6rem;
}

/* ---------

Based on YouTube video: https://www.youtube.com/watch?v=vnftyztz6ss (Style Select Element) */

.select-box {
    border: 1px solid black;
    appearance: none;
    display: flex;
    position: relative;
    padding: 0 30px 0 10px;
    width: 100%;
    color: black;
    background-color: white;
}

.size-select {
    width: 40px;
    height: 100%;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: right;
    justify-content: right;
    padding-bottom: 5px;
}

.cart-select-box {
    border: 1px solid black;
    appearance: none;
    display: flex;
    position: relative;
    padding: 0 30px 0 10px;
    width: 100%;
    color: black;
    background-color: white;
}

.cart-size-select {
    width: 40px;
    height: 100%;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: right;
    justify-content: right;
    padding-bottom: 5px;
}

/* ------- */

.color-options, .select-options {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 50px;
    height: 20px;
    margin-top: 10px;
}

.article-colors, .article-size {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 50px;
}

.shopping {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin: 0;
    padding: 0;
}

.product-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-card .productimg {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    max-height: 20%;
    align-items: center;
    justify-content: center;
}



.cart-product-card {
    width: 100%;
    height: auto;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-productimg {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    max-height: 20%;
    padding: 0;
    border-radius: 5px;
}

.small-productimg {
    max-width: 50%;
    max-height: 50%;
    padding: 0;
    border-radius: 5px;
}

.cart-product-info {
    margin-right: 0px;
    font-size: 0.7rem;
    width: 100%;
}

.cart-option-items {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.cart-color-options {
    padding-top: 5px;
}


.cart-product-price {
    font-size: 0.7rem;
    font-weight: bold;
}

.x-button {
    background-color: white;
    border: none;
    color: var(--logo-color);
}

.cart-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.rightcontainer, .order-summary {
   background-color: var(--container-gray);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.confirmationcontainer {
     display: flex;
     flex-wrap: nowrap;
     width: 100%;
     margin: 0;
     padding: 10px;
 }

#confirmationimage {
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 0;
    border-radius: 5px;
}

.cart-summary-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

}

.summarycontainer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.summary-text {
    display: block;
    width: 50%;
}

.summary-number {
    display: flex-end;
    text-align: right;
    width: 50%;
}

.summary-number-confirmation {
    display: flex-end;
    text-align: right;
    position: relative;
    left: 0;
    width: 100%;
}

.order-info {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding-top: 50px;
}


.vertical-line {
    background-color: var(--logo-color);
    width: 3px;
    height: auto;
}

.horizontal-line {
    background-color: var(--logo-color);
    width: 70%;
    height: 3px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
}

.form-control {
    display: inline-flex;
    width: 60%;
}

.form-control > #city, #cvv {
    margin-left: 0px;
    padding: 10px;
}

form {
    margin: 00px;
    padding: 0;
    display: block;
}

form > button {
    display: flex;;
    flex-direction: column;
    align-items: center;
    float: right;
    padding: 10px 10px;
    width: 40%;
    background-color: var(--logo-color);
    color: var(--navigation-color);
    border: 3px solid var(--navigation-color);
    border-radius: 15px;
}

form > button a {
    color: var(--navigation-color);
    text-decoration: none;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#paypal {
    display: block;
    margin: 10px;
}

#paypal > a {
    text-decoration: none;
    color: black;
}

#paypalicon {
    display: flex;
    margin: auto;
    width: 300px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid #000;
    background: var(--PayPal-Yellow, #FFC43A);
}

#or-line {
    display: flex;
    width: 300px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;

}

footer {
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
}

.footernav {
    background-color: var(--navigation-color);
    margin-bottom: 0;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.footernav ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--logo-color);
    width: 100%;
}

.footernav ul li a {
    color: var(--logo-color);
    text-decoration: none;
    
}

.footerlogo {
    max-width: 200px;
    max-height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}

.shoplinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.policieslinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.supportlinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.collage {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    flex-wrap: nowrap;
    margin: auto;
    margin-top: 50px;
}


.collageimg1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collageimg2 {
    width: 100%;
    height: auto;
}

.collage-text {
    margin: auto;
    height: auto;
    width: 75%;
    padding: 0x;
    text-align: center;
}

.collage-text > p {
    font-size: 1rem;    
    color: #fff;
    margin: 20px;
    padding: 10px;
}   





.hero {
    background: url("/img/heroimg.jpg") no-repeat center center/cover; 
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.confirmationimage {
    background: url("/img/confirmationphoto.jpg") no-repeat center center/cover;
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#confirmationimagelogo {
    height: 50%;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: -100px;
    left: 50px;
}

.herocontent {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 40%;    
    right: 10%;
    margin: 0 auto;
}



.menubars{
    display: none;

}

.hamburgerx {
    display: none;
}

#comingsoon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#puppy {
    width: 20%;
    height: auto;
    border-radius: 5px;
    margin: 10px;
}

@media only screen and (max-width: 1000px) {
    .landingpageshopping {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .gender {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80vh;
    }

    .gender-text h3 a {
      height: 100%;

    }



    .small-product-card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }

    .product {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .topseller-card {
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .splitcontainer {
        flex-direction: column;
    }

    .confirmationleft, .confirmationimage {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 10px;
    }

}

@media only screen and (max-width: 500px) {

    .navlinks, #menubars {
        display: none;
    }
    
    .headermountain {
        display: inline-flex;
        flex-wrap: nowrap;
        position: absolute;
        top: 10px;
        left: 35%;
    }

    .headernav {
        display: flex;
        align-items: center
    }

    .navicons {
        display: flex;
        position: absolute;
        right: 0;
        top: 12.5px;
        justify-content: right;
    }

   .headerlogo {
        display: none;
    }

    .menubars {
        display: flex;
        color: #fff;
        font-size: 30px;
        margin: 10px 10px;
        width: fit-content;
    }
 
    #menubars:checked ~ .headernav .navlinks {
            display: flex;
            flex-direction: column;
            line-height: 30px;
            width: 50%;
            position: absolute;
            top: 50px;
            background-color: var(--navigation-color);
            padding: 20px;
    }

    #menubars:checked + label::before {
        font-family: "Material Icons";
        content: "close";
        font-size: 1em;
      }

      .hero {
        background: url("/img/heroimg.jpg") no-repeat cover;
        background-position: 30% 100%;
        height: 100vh;
        width: 100vw;
    }

    .herocontent {
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 15%;
        left: 20%;
        
    }

    .confirmationleft {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    
    .confirmationimage {
        background: url("/img/confirmationphoto.jpg") no-repeat center center/cover;
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .cart-option-items {
        display: block;
        width: 40%;
        margin-left: 1px;
        height: auto;
        align-items: space-around;
        justify-content: space-around;
    }

    .footernav ul {
        display: inline-block;
    }


}